<div class="page-header">
  <h3> <%= @activity.name %></h3>
  <h4> <a href="/trips/<%= @activity.trip.id %>"> <%=@activity.trip.trip_name %></a> </h4>
  <h5> <%= @activity.when_happened %> </h5>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#reviews" data-toggle="tab">Review and Rating</a></li>
  <li> <a href="#map" data-toggle="tab">Map</a></li>
  <li> <a href="#pics" data-toggle="tab">Activity Pic</a></li>
    <% if @activity.user.id == current_user.id  %>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Options <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li> <a href="/activities/<%= @activity.id %>/edit"> Edit Activity</a> </li>
        <li class="divider"></li>
        <li> <a href="/delete_activity/<%= @activity.id %>"> Delete Activity</a></li>
      </ul>
      <%else %>
      <li class="disabled"><a>Options</a></li>
      <%end %>
    </li>

  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="reviews">
    <dt> Review </dt>
    <dd>   <p> <%= @activity.review %>   <p>  </dd>
      <dt> Rating </dt>
      <dd>
        <% if @activity.activity_rating==1 %>
        <i class="fa fa-star" aria-hidden="true"></i>
        <% elsif @activity.activity_rating==2 %>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <% elsif @activity.activity_rating==3 %>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <% elsif @activity.activity_rating==4 %>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <% else %>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <% end %>
      </dd>
    </div>
    <div class="tab-pane fade" id="map">
      <dt>Map</dt>
      <dd>
        <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAO_JsHfsCnleobA0XTfJj91GRM818vmsA
        &q=<%= @addr.gsub(' ','+') %>" allowfullscreen>
      </iframe>
    </dd>
  </div>

  <div class="tab-pane fade" id="pics">
    <div class="jumbotron">
      <img src="<%= @activity.photos %>" class="img-responsive">
    </div>
  </div>


</div>
</div>
